<div>
inbox  module {{test1}}

<form name="form" novalidate>
  <!-- <div>
    Size (integer 0 - 10):
    <input type="number" ng-model="size" name="size"
           min="0" max="10" integer />{{size}}<br />
    <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
    <span ng-show="form.size.$error.min || form.size.$error.max">
      The value must be in range 0 to 10!</span>
  </div>

  <div>
    Username:
    <input type="text" ng-model="name" name="name" username />{{name}}<br />
    <span ng-show="form.name.$pending.username">Checking if this name is available...</span>
    <span ng-show="form.name.$error.username">This username is already taken!</span>
  </div> -->

	<div>
		Name:
		<input type="text" ng-model="name" name="name" fandlname ng-focus="form.name.currentBorderCol='solid 1px #b7bbbb'" ng-blur="form.name.currentBorderCol=form.name.borderCol" ng-style="{'border':form.name.currentBorderCol}" />{{name}}<br />
		<span ng-show="form.name.$touched && form.name.$error.fandlname">Enter a valid name!</span>
	</div>

	<div>
		Phone:
	  	<input type="text" ng-model="phone" name="phone" phone onlydigits ng-style="{'border':borderCol}"/>{{phone}}<br />
	  	<span ng-show="form.phonephone.$touched && form.phone.$pending.phone">Checking if this phone number is valid...</span>
	    <span ng-show="form.phone.$touched && form.phone.$error.phone">Enter a valid phone number!</span>
	</div>

	<div>
		Email:
	  	<input type="text" ng-model="email" name="email" email/>{{email}}<br />
	    <span ng-show="form.email.$touched && form.email.$error.email">Enter a valid email address!</span>
	</div>

	<div>
		Zipcode:
	  	<input type="text" ng-model="zipcode" name="zipcode" zipcode nks-only-number/>{{zipcode}}<br />
	    <span ng-show="form.zipcode.$touched && form.zipcode.$error.zipcode">Enter a valid Zipcode!</span>
	</div>

</form>
</div>